/* ImgSkeleton */
.skeletonBox {
  position: relative;
  flex: 1;
  max-width: calc(100vw * (486 / 1920));
  min-width: 250px;
  height: max-content;
  margin-right: 25px;
  border-radius: 10px;
  border: 1px solid var(--gray-50);
  box-sizing: border-box;
  overflow: hidden;
  background: var(--gray-200);

  /* Mobile */
  @media (max-width: 768px) {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.skeletonBox:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.skeletonLoading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  border-radius: 1rem;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load 0.8s infinite;
}

@keyframes load {
  100% {
    background-position: -100% 0;
  }
}

/* TextSkeleton */
.textSkeletonBox {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 10px 0;

  @media (max-width: 768px) {
    padding: 0;
  }
}
.textSkeletonBox .skeletonBox {
  max-width: none;
}
.textSkeletonBox .skeletonBox.text {
  max-height: 30px;
  margin-right: 0;
  margin-bottom: 10px;
}
.textSkeletonBox .skeletonBox.text:first-child {
  max-width: 40%;
}
.textSkeletonBox .skeletonBox.text:last-child {
  max-width: 60%;
}
.textSkeletonBox .section2 {
  margin-top: -150px;

  @media (max-width: 1500px) {
    margin-top: -100px;
  }
  @media (max-width: 768px) {
    margin-top: 0;
  }
}
.textSkeletonBox .section2 .text:first-child {
  max-width: 100%;

  @media (max-width: 1530px) {
    display: none;
  }
}
.textSkeletonBox .section2 .text:last-child {
  max-width: 60%;

  @media (max-width: 1530px) {
    max-width: 30%;
  }
  @media (max-width: 1100px) {
    display: none;
  }
}
.textSkeletonBox .section3 .text {
  margin-bottom: 0;
  max-width: 150px !important;
  min-width: 150px !important;
  max-height: 50px;

  @media (max-width: 1530px) {
    max-height: 30px;
  }
}

/* CommentSkeleton */
.commentSkeletonWrap {
  clear: both;
  margin-top: 50px;
}

.commentSkeletonWrap .commentBox {
  padding: 12px 0 25px;
  border-bottom: 1px solid var(--gray-200);
}

.commentSkeletonWrap .comment {
  min-width: 30%;
  height: 20px;
  margin-bottom: 25px;
}

.commentSkeletonWrap .infoWrap {
  -webkit-display: flex;
  display: flex;
  align-items: center;
}

.commentSkeletonWrap .profileThubmnail {
  max-width: 32px;
  min-width: 32px;
  height: 32px;
  margin-right: 15px;
  border-radius: 50%;
}

.commentSkeletonWrap .textWrap {
  flex: 1;
}

.commentSkeletonWrap .nickname {
  max-width: 13%;
  min-width: 10px;
  height: 16px;
}

.commentSkeletonWrap .day {
  max-width: 8%;
  min-width: 10px;
  height: 16px;
}
