.container {
  -webkit-dispaly: flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  text-align: center;
  height: calc((100vh - 233.5px) - env(safe-area-inset-bottom));
}

.container .icon {
  margin: 100px 20px 0;
}

.container .icon img {
  max-width: 250px;
  max-height: 250px;
}

.textContainer {
  margin: 0 20px;
}

.title {
  margin-top: 10px;
  font-size: 2.8em;
  font-weight: 500;
  color: var(--gray-700);
}

.description {
  margin: 10px 0 50px;
  font-size: 1.6em;
  color: var(--gray-500);
  font-weight: 400;
}

.linkButton {
  padding: 13px 20px;
  -webkit-dispaly: flex;
  display: flex;
  align-items: center;
  /* border: 1px solid var(--primary); */
  border-radius: 8px;
  background: var(--primary);
  color: var(--white);
  font-size: 1.4em;
  cursor: pointer;
  transition: 0.2s;
}

.linkButton:hover {
  @media (min-width: 1200px) {
    background: var(--primary-foreground);
  }
}

.linkButton svg {
  margin-top: -2px;
  margin-left: 3px;
}
