.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  background-color: var(--white);
  min-width: 368px;
  padding: 30px 24px;
  border-radius: 16px;
}

.contents {
  text-align: center;
  font-size: 1.6em;
}

.buttonContainer button {
  padding: 8px 20px;
  margin-top: 25px;
  cursor: pointer;
  border-radius: 8px;
  background: var(--primary);
  color: var(--white);
}
