.fixContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 70px;
  border-bottom: 1px solid var(--gray);
  background: var(--white);
}
.navCover {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 200px;

  /* 1920 이상 */
  @media (min-width: 1920px) {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
  }
  /* Tablet */
  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 0 24px;
  }
  /* Mobile */
  @media (min-width: 375px) and (max-width: 767px) {
    padding: 0 16px;
  }
  @media (max-width: 374px) {
    padding: 0 16px;
  }
}
.pageControl .btnWrap {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
}

.navCover .btnNavMenu {
  color: var(--gray-600);
  cursor: pointer;
  font-size: 1.8em;
  font-weight: 700;
  font-family: "pretendard";

  /* Mobile */
  @media (min-width: 375px) and (max-width: 767px) {
    font-size: 1.6em;
  }
  @media (max-width: 374px) {
    font-size: 1.6em;
  }
}

.navCover .btnNavMenu.isActive {
  color: var(--primary);
}

.navCover .btnNavMenu:first-child {
  margin-right: 30px;

  /* Mobile */
  @media (max-width: 480px) {
    margin-right: 20px;
  }
  @media (max-width: 370px) {
    margin-right: 10px;
  }
}

.navCover .pageControl,
.navCover .btnLogo {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navCover .btnLogo {
  margin-right: 50px;
  cursor: pointer;

  /* Mobile */
  @media (max-width: 767px) {
    margin-right: 30px;
  }
  @media (max-width: 480px) {
    margin-right: 20px;
  }
  @media (max-width: 370px) {
    margin-right: 15px;
  }
}

.navCover .btnLogo > img {
  /* Mobile */
  @media (max-width: 767px) {
    display: none;
  }
}

.navCover .companyName {
  margin-left: 10px;
  color: var(--primary);
  font-size: 2.5em;
  font-weight: 700;
  font-family: "Rokaf";

  /* Mobile */
  @media (max-width: 767px) {
    font-size: 2em;
  }
  @media (max-width: 370px) {
    font-size: 1.8em;
  }
}

.navCover .userControl {
  cursor: pointer;
}
