.pagiContainer {
  margin-top: 69px;
  /* Default */
  padding: 0 200px;

  /* 1920 이상 */
  @media (min-width: 1920px) {
    padding: 0;
    max-width: 1110px;
    margin: 69px auto 0;
  }
  /* Tablet, Mobile */
  @media (max-width: 1199px) {
    padding: 0 24px;
  }
}

.bestProduct {
  padding-top: 24px;
}

.productContents .listTitle {
  font-size: 2em;
  font-weight: 600;
  color: var(--gray-900);

  /* Mobile */
  @media (max-width: 768px) {
    margin-bottom: 10px;
    height: 42px;
    line-height: 42px;
  }
}

.bestProduct .listTitle {
  margin-bottom: 16px;
}

.productContents .productCover {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  /* justify-content: space-between; */
  -webkit-flex-gap: 0 24px;
  gap: 40px 2.5%;
  flex-wrap: wrap;

  /* Tablet */
  @media (max-width: 1199px) {
    gap: 40px 5%;
  }
  /* Mobile */
  @media (max-width: 767px) {
    gap: 40px 4%;
  }
}

.bestProduct .item {
  flex: 1;
  max-width: 25%;
  cursor: pointer;

  /* Tablet */
  @media (max-width: 1199px) {
    min-width: 47.5%;
  }
  /* Mobile */
  @media (max-width: 768px) {
    min-width: 100%;
  }
}

.generalProduct .item {
  flex: 1;
  max-width: 18%;
  min-width: 18%;
  cursor: pointer;

  /* Tablet */
  @media (max-width: 1199px) {
    min-width: 30%;
    max-width: 30%;
  }
  /* Mobile */
  @media (max-width: 768px) {
    min-width: 48%;
  }
}

.productCover .thumbnail {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid var(--gray-50);
}

.productCover .thumbnail:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.productCover .thumbnail > img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
}
.productCover .item:hover .thumbnail > img {
  transform: scale(1.1);

  /* Mobile */
  @media (max-width: 768px) {
    transform: scale(1);
  }
}

.productCover .textCover .itemName {
  margin: 16px 0;
  font-weight: 500;
  font-size: 1.4em;
  color: var(--gray-800);
}

.productCover .textCover .itemPrice {
  font-weight: 700;
  font-size: 1.6em;
  color: var(--gray-800);
}

.productCover .textCover .viewWish {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: 500;
  color: var(--gray-600);
}

.productCover .viewWish > img {
  margin-right: 3px;
}

.generalProduct .filterCover {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 24px;

  /* Mobile */
  @media (max-width: 768px) {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }
}

.generalProduct .searchContainer {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;

  /* Mobile */
  @media (max-width: 768px) {
    width: 100%;
    justify-content: space-between;
  }
}

.generalProduct form {
  /* Mobile */
  @media (max-width: 768px) {
    width: 100%;
  }
}

.generalProduct .formCover {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
}

.generalProduct .inputBox {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  min-width: calc(100vw * (260 / 1110));
  padding: 10px 15px;
  height: 42px;
  line-height: 42px;
  border-radius: 12px;
  background: var(--gray-100);

  /* Mobile */
  @media (max-width: 768px) {
    flex: 1;
    margin-right: 15px;
  }
}

.generalProduct input::placeholder {
  color: var(--gray-400);
}

.generalProduct input[name="search"] {
  min-width: inherit;
  width: 100%;
  border: none;
  font-size: 1.6em;
  font-weight: 400;
  color: var(--gray-800);
  background: var(--gray-100);
}

.generalProduct input[name="search"]:focus {
  outline: none;
}

.generalProduct button[type="button"] {
  margin: 0 12px;
  padding: 10px 20px;
  border-radius: 8px;
  background: var(--primary);
  color: var(--white);
  font-size: 1.5em;
  font-weight: 400;
  cursor: pointer;

  /* Mobile */
  @media (max-width: 768px) {
    margin: 0;
    position: absolute;
    right: 0;
    top: 3px;
  }
}

.generalProduct .selectBox {
  position: relative;
}

.generalProduct .btnSelectBox {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 125px;
  height: 42px;
  padding: 10px 15px;
  border-radius: 12px;
  border: 1px solid var(--gray-200);
  font-size: 1.5em;
  color: var(--gray-800);
  cursor: pointer;

  /* Mobile */
  @media (max-width: 768px) {
    min-width: 42px;
    padding: 10px 0;
    box-sizing: border-box;
    content: url("/assets/images/items/pd_sort.svg");
  }
}

.generalProduct .btnSelectBox .text {
  margin-right: 15px;
}

.generalProduct .btnSelectBox svg {
  transition: 0.3s;
}

.generalProduct .btnSelectBox .on {
  transform: rotate(180deg);
}

.generalProduct .btnChoose {
  display: none;
  border-radius: 12px;
  border: 1px solid var(--gray-200);
  min-width: 125px;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 10;
  background: var(--white);
  font-size: 1.5em;
  text-align: center;
  color: var(--gray-800);
  cursor: pointer;
}

.generalProduct .btnChoose.active {
  display: block;
}

.generalProduct .btnChoose li {
  padding: 13px 15px;
}

.generalProduct .btnChoose li:first-child {
  border-bottom: 1px solid var(--gray-200);
}

.emptyList {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vw * (100 / 640));
  text-align: center;
  font-size: 1.6em;
  color: var(--gray-500);

  /* Tablet */
  @media (max-width: 1199px) {
    height: calc(100vw * (300 / 640));
  }
  /* Mobile */
  @media (max-width: 767px) {
    height: calc(100vw * (400 / 640));
  }
}

.emptyList > img {
  width: 40px;
  height: auto;
  margin-bottom: 20px;
}
